<header id="logo">
  <img id="img" src="/img/Pokemon-Logo.png" alt="Logo da pagina Pokedéx" />
  <nav id="nav">
    <ul>
      <a href="/"><li><h3>Home</h3></li></a>
      <a href="/cadastro"><li><h3>Cadastro</h3></li></a>
    </ul>
  </nav>
</header>
